<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h3 th:text="${user.id == null} ? 'Save User' : 'Edit User'" />
<form th:action="${user.id == null} ? @{/users/save} : @{/users/update(id=${user.id})}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div>
        <label for="name">Name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br>
        <label for="email">Email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br>
        <button type="submit" th:text="${user.id == null} ? 'Add' : 'Save changes'"></button>
    </div>
</form>
<br>
<a href="/users">Back</a>
</body>
</html>